<div ng-controller="HomeController">
  <div class="row">
    <div class="col-md-6">
      <div id="googleMap" style="width:100%;height:400px;"></div>
    </div>

    <div class="col-md-6">
      <img ng-src="http://maps.googleapis.com/maps/api/streetview?size=400x400&location={{ currentEvent.lat }},{{ currentEvent.lon }}&heading={{ currentEvent.heading }}&sensor=false&key=AIzaSyDMbu8xOPNiwE7o12PXfN3Ah6VqN6qNsQ4">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-condensed table-striped event-list">
        <tr>
          <th></th>
          <th>Timestamp</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
        <tr ng-repeat="event in stops()" ng-click="switchEvent(event)" ng-class="{ current: currentEvent == event }">
          <td>{{ $index + 1 }}</td>
          <td>{{ event.timestamp }}</td>
          <td>{{ event.lat }}</td>
          <td>{{ event.lon }}</td>
        </tr>
      </table>
    </div>

    <div class="col-md-6">
      <table class="table">
        <tr ng-repeat="interval in intervals()" ng-click="switchEvent(interval.start)">
          <td>{{ interval.time | date:'mm:ss' }}</td>
          <td>{{ interval.type }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  var data = <%== @data.to_json %>;
  google.maps.event.addDomListener(window, 'load', function() { renderMap() });
</script>
