<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GoBike</a>
    </div>
  </div>
</div>

<article class="container">
  <table class="table table-striped">
    <% @rides.each do |ride| %>
      <tr>
        <td><%= link_to ride.created_at, ride %></td>
      </tr>
    <% end %>
  </table>
</article>